@media (max-width: 480px) {
    .option-date {
        margin: 0;
    }
    
    #date {
        width:32%;
    }


    .kt-container {
        padding: 10px;
    }

    .chart-flex {
        flex-direction: column; /* Chuyển từ hàng ngang sang cột dọc */
    }

    .chart-content {
        width: 100%;
        margin-bottom: 20px; /* Thêm khoảng trống giữa các phần */
    }

    .chart-content-cricle {
        display: flex;
        flex-direction: column-reverse;
        width: 88vw !important
    }

    .action {
        padding: 5px;
        color: #fff;
        gap: 20px;
        flex-wrap: wrap;
    }

        
    .btnTim {
        margin-top: -6px;
        width: 50px;
        height: 30px;
        translate: 0 -10px;
    }

    .col-lg-12, .col-lg-6, .col-xl-12 {
        width: 100%;
    }

    .chart-content h5, .tieude {
        font-size: 16px;
        margin: 5px 0;
    }

    .tbl-woker table th, .tbl-woker table td {
        font-size: 14px; /* Giảm kích thước font chữ cho bảng */
    }

    .col-md-12 {
        padding: 0;
    }

    #box-ld #container6 {
        width: 102% !important;
        margin-top: 10px;
    }

    #container6 tspan, text {
        font-size: 8px !important
    }

    .col-lg-12.col-12 {
        flex-direction: column;
    }

    .action.d-flex.align-items-center {
        display: flex;
        align-items: flex-start;
    }

    .pass {
        display: table;
        width: 80% !important;
        margin: 0 auto;
    }

    table {
        max-height: auto;
        overflow-y: none;
    }

    .chart-content-cricle .tbl-woker {
        width: 100%
    }

    .tbl-woker {
        background-color: #fff;
        padding: 3% 0;
    }
}

