body {
    font-family: Arial, sans-serif;
    background-color: #3d4c74;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 515px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

    .input-group label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-size: 16px;
        font-family: roboto;
    }

    .input-group input[type="text"],
    .input-group input[type="password"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 292px;
        margin-left: 20px;
        outline: none;
    }

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
