
@media (max-width: 480px) {
    .item-time {
        display: flex;
        width: 170px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    input[type="date"] {
        font-size: 11px !important;
        width: 180px;
    }

    .select2-container {
        width: 30% !important;
        padding: 0px;
        min-width: 180px;
    }

    .tieude .ex {
        right: 10px;
    }

    .tieude label {
        font-size: 12px;
        margin-top: 2px
    }

    .tieude .ex i {
        display: flex;
        font-size: 16px;
        margin: 0px 2px;
    }

    .tieude .ex p {
        font-size: 10px;
    }

    .lenhsx {
        margin-left: 0px;
        margin-top: 5px;
    }

    .tieude {
        display: block
    }

    .sticky1 {
        position: unset !important
    }
}

@media (max-width: 530px){
    .item-time {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 5px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
}