/*------------------------------------------------------------
    Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

html {
    font-size: 62.5%;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

table,
input,
textarea,
select,
option {
    line-height: 1.1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

img {
    vertical-align: top;
}

a,
a img {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

    a:hover,
    a:hover img {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

img {
    max-width: 100%;
}

.dongthung {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
    margin-top: 15px;
}

.dongthung__left {
    width: 25%;
    position: relative;
    margin-right: 15px;
    /*    padding: 0 10px;*/
    border: 1px solid #938f8f;
    /*    height: calc(100vh - 67px);*/
    /*    max-height: 300px;*/
    overflow-y: scroll;
    border-radius: 5px;
}

.dongthung__right {
    border-radius: 5px;
    font-family: revert;
    font-size:12px;
    width: 75%;
    overflow-y: scroll;
    border: 1px solid #938f8f;
}

    .dongthung__right tr th:first-child, .dongthung__right tr td:first-child {
        position: sticky;
        left: 0;
        width: 80px;
        z-index: 9;
    }
    .dongthung__right tr th.size {
        width: auto;
    }
    .dongthung__right tr td:first-child {
        background: white;
    }

.dongthung table {
    width: 100%;
    border-bottom: 1px solid #938f8f;
    border-radius: 15px;
}

.dongthung__left table thead {
    background: rgb(196,253,255);
    background: linear-gradient(180deg, rgba(196,253,255,1) 0%, rgba(129,232,215,1) 31%, rgba(57,151,226,0.8128501400560224) 81%);
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    font-family: revert;
    font-size: 12px;
}

.dongthung table tr th, .dongthung table tr td {
    padding: 8px 10px;
    -webkit-box-shadow: inset 0 1px 0 #000000, inset 0 0px 0 #938f8f;
    box-shadow: inset 0 1px 0 #938f8f, inset 0 0px 0 #938f8f;
    border-left: 1px solid #938f8f;
    text-align: center;
    font-size: 11px;
}

    .dongthung table tr th {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 9;
    }

    /*.dongthung table tr:nth-child(1) th:first-child, .dongthung table tr td:first-child {
        border-left: unset;
    }*/

.table {
    overflow-y: scroll;
}

    .table td, .table th {
        vertical-align: middle !important;
    }

    .table thead {
        /*        position: sticky;
        top: 0;
        z-index: 99;*/
    }

    .table tfoot {
        position: sticky;
        bottom: -1px;
        z-index: 99;
        background-color: #BEE9F6;
        height: 40px;
        font-weight: 700;
    }

    .table.table1 {
        height: 160px;
    }

    .table.table2 {
        height: 65vh;
    }

    .table.table3 {
        height: 90vh;
    }

.box_toggle {
    position: absolute;
    z-index: 999;
    background: #dedede;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    display: none;
}

    .box_toggle table thead {
        position: sticky;
        top: 0;
        left: 0;
    }

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.search input {
    width: 100%;
    height: 25px;
    outline: unset;
}

.title {
    text-align: center;
    background: white;
    border-radius:5px;
}

    .title h1 {
        width: 100%;
        font-size: 25px;
    }

    .title .btn-action {
        width: 10%;
    }

.table {
    margin-bottom: 0;
}

.table1 {
    margin-bottom: 20px;
}

#slc_lenhsx tr {
    cursor: pointer;
}

    #slc_lenhsx tr:hover {
        background: #d8ff00;
    }

    #slc_lenhsx tr.active {
        background: #E6F2FB;
    }

.text {
    font-size: 20px;
    padding: 5px;
}

.toggle_input {
    display: flex;
    align-items: center;
}

    .toggle_input input {
        height: 100%;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .toggle_input .text {
        margin-right: 15px;
    }

td.status {
    text-align: center;
}

    td.status input {
        width: 25px;
        height: 15px;
    }

#KHDongThung tr {
    cursor: pointer;
}

    #KHDongThung tr.active {
        background: #d1ffc3;
    }

.btn.btn1, .btn.btn2 {
    border-radius: 15px;
    margin: 0 5px;
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    outline: none;
    font-weight: 700;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    color: #fff;
    border: unset;
}

.btn.btn1 {
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
}

.btn.btn2 {
    background: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%)
}

.btn-action {
    display: flex;
    justify-content: end;
    padding: 10px 20px;
}

.chon {
    width: 20px;
    height: 20px;
}

.size {
    min-width: 45px;
}

.d-flex {
    display: block !important;
    align-items: center;
    padding:5px;
}

.slc_chuyen {
    margin-left: 10px;
/*    margin-top: 10px;*/
}

    .slc_chuyen span {
        margin-right: 10px;
        font-size: 16px;
        font-weight: 700;
    }

    .slc_chuyen select {
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
    }
    .slc_chuyen input {
        border-radius: 5px;
        padding: 5px;
        width:70px;
        font-size: 15px;
    }



@media only screen and (max-width: 1400px) {
    .dongthung {
        flex-direction: column;
    }

    .dongthung__left, .dongthung__right {
        width: 100%;
        overflow-x: scroll;
    }

    .dongthung__left {
        margin-right: 0;
        margin-bottom: 20px;
        max-height: 400px;
        height: auto !important;
    }

    .dongthung__right {
        max-height: 500px;
        height: auto !important;
    }

    .table3 {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 991px) {
    .title h1 {
        font-size: 22px;
    }
}

.dongthung__right table {
     border-collapse: collapse; 
     width: 100%; 
}

.dongthung__right thead tr > th {
    background: rgb(196,253,255);
    background: linear-gradient(180deg, rgba(196,253,255,1) 0%, rgba(129,232,215,1) 31%, rgba(57,151,226,0.8128501400560224) 81%);
    color: black;
    position: sticky;
    padding: .5rem;
    z-index: 8;
    top: 0;
}

.dongthung__right thead tr > :first-child {
    /* z-index: 999; */
    /* left: 0; */
    /* top: 0; */
}


.dongthung__right tbody tr > :first-child {
    /*    background: #ddd;*/
    position: sticky;
    z-index: 1;
    background: #fff;
}

#size1 th {
    position: sticky;
    top: 21px;
    /* margin-top: 27px; */
}
.cover-body{padding-top:5px;}
.border-layout {
    border: 1px solid white;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: calc(100vh - 70px);
    background-color: white;
}
body {
    padding: 5px;
    height: 100vh;
    background: rgb(196,253,255);
    background: linear-gradient(243deg, rgba(196,253,255,1) 0%, rgba(129,232,222,1) 58%, rgba(158,187,212,1) 81%);
}

.button-47 {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1.1), 0 2px 4px -1px rgba(0, 0, 1, 1.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 700;
    /*    height: 56px;*/
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 5px 10px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.title-header {
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.title-search {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn-layout{
    padding-top:5px;
}


.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}


.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 5px 10px;
    }
}
/*tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}*/
.active1 {
    background: rgb(196,255,230);
background: linear-gradient(169deg, rgba(196,255,230,1) 0%, rgba(129,212,232,1) 58%, rgba(217,255,214,1) 83%);
}
.tdcss {
    text-align: left !important;
    background-image: linear-gradient(-155deg,rgb(236 246 255 / 40%) 45%,rgba(255,255,255,.08) 15%),linear-gradient(258deg,rgba(87,238,255,.1),rgba(77,108,211,.2));
    background-color: rgb(176 202 224 / 90%);
    font-weight:bold;
}

.move {
    animation: move 1s;
}
@keyframes move {
    from {
        margin-top:-150px;
    }

    to {
        margin-top: 0px;
    }
}