
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

.title {
    width: 100%;
    background: #cfbf8b;
}

    .title p {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        font-size: 40px;
        font-family: roboto;
        text-transform: uppercase;
        font-weight: 900;
        color: #016b69;
    }

.khuvuchang {
}

    .khuvuchang .hangton .item_hangton {
    }

    .khuvuchang .hangton .item_hangton {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        background: #cfbf8b;
            display: none;
    }

        .khuvuchang .hangton .item_hangton p {
            margin: 0;
            font-size: 30px;
            text-transform: uppercase;
            font-family: 'Roboto';
            font-weight: 700;
            color: #016b69;
        }

        .khuvuchang .hangton .item_hangton i {
            margin: 0;
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 700;
            color: #016b69;
            margin-right: 15px;
        }

    .khuvuchang .list_hang {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px 0;
        gap: 10px;
    }

        .khuvuchang .list_hang .item_hang {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 160px;
            border: 3px solid #d2a81c;
        }

            .khuvuchang .list_hang .item_hang p {
                margin: 0;
                font-size: 30px;
                text-transform: uppercase;
                font-family: 'Roboto';
                font-weight: 700;
                color: #016b69;
            }

            .khuvuchang .list_hang .item_hang i {
                margin: 0;
                font-size: 25px;
                text-transform: uppercase;
                font-weight: 700;
                color: #016b69;
                margin-right: 15px;
            }
            #video{
                opacity:100 !important;
                width:200px !important;
                height:200px !important;
            }