
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: roboto
}
/*chỉnh nut buton cho popup swal2-loader*/
div:where(.swal2-container) button:where(.swal2-styled) {
    font-size: 12px !important;
}
.table {
    margin-bottom: 0px
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.content {
    display: flex;
    width: 99.8%;
    justify-content: space-between;
    background: #70baed;
    margin: 3px;
    padding: 0px 5px;
    align-items: center;
    border-radius: 5px;
}

.select2-container {
    text-align: center;
}

.btn_soKien {
    margin-right: 9px;
    height: 32px !important;
}

.lst_DonHang {
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width: 100px;
    width: auto;
}

    .lst_DonHang .select2-container {
        text-align: center !important;
    }

        .lst_DonHang .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 0px;
        }

.list_PKL {
    display: flex;
    margin: 5px;
    min-width: 100px;
    justify-content: left;
    margin-left: 0;
    width: 100%;
}

.select2-results {
    display: block;
    text-align: left;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px;
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lst_DauSize {
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width: 100px;
    width: auto;
}

#Excel:hover {
    background: #a4c06e
}

.lst_PO {
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width: 100px;
    width: auto;
}

.lst_ngay {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 150px;
}

.item_lable {
    font-size: 16px;
    margin-bottom: 0;
    font-family: roboto;
    margin-left: 2px;
}

.item_ngaychon {
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px 5px;
}

.item_select {
    font-size: 13px;
    text-align: center;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-family: roboto;
    padding: 0 5px;
}

.text_chitiet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

    .text_chitiet .solieu {
        font-size: 15px;
        margin-bottom: 5px;
    }

.nhapLieu {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.popup1 {
    position: fixed;
    top: 83px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    z-index: 9999;
    border-radius: 5px;
}

    .popup1 .cancel {
        border: 1px solid;
        background: #a4c06e;
        border-radius: 5px;
        margin-left: 5px;
        padding: 0 5px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup1 .result {
        border: 1px solid;
        background: #a4c06e;
        border-radius: 5px;
        margin-left: 5px;
        padding: 0 5px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

#Update, #delete, #hoanthanh {
    height: 30px;
    outline: none;
    margin-left: auto;
    margin-right: -15px;
}

.list_phieu {
    display: flex;
}

    .list_phieu button {
        padding: 0 5px;
        height: 30px;
        margin-left: 8px;
        border: 1px solid;
        border-radius: 5px;
        background: #1f4f6b;
        color: #fff;
        white-space: nowrap;
    }

        .list_phieu button:hover {
            background: #b6ff00;
            color: #000
        }

.active2 {
    background: #b6ff00 !important;
    color: #000 !important
}
/*view nhập*/
.task-item {
    display: flex;
    max-height: calc(100vh - 150px);
    margin: 10px 10px 0;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
}


    .task-item .item-table {
        overflow: auto;
        width: 100%;
    }

        .task-item .item-table .table thead {
            position: sticky;
            top: 0;
            z-index: 3
        }

            .task-item .item-table .table thead tr {
                border: 1px solid #ccc;
                position: sticky;
                top: 0;
            }

                .task-item .item-table .table thead tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-weight: bold;
                    color: #fff;
                    vertical-align: middle;
                    background: #5da566;
                    outline: none;
                    font-family: 'Roboto';
                    min-width: 60px;
                }



        .task-item .item-table .table tbody {
        }

            .task-item .item-table .table tbody tr {
                border: 1px solid #ccc;
            }

                .task-item .item-table .table tbody tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;
                    font-family: serif;
                    vertical-align: middle;
                    font-family: 'Roboto';
                }

        .task-item .item-table .table tfoot {
            position: sticky;
            bottom: 0;
            background: #fff;
            outline: 1px solid #ccc;
        }

            .task-item .item-table .table tfoot tr {
                border: 1px solid #ccc;
            }

                .task-item .item-table .table tfoot tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;
                    font-family: serif;
                    vertical-align: middle;
                    font-family: 'Roboto';
                    color: red;
                }
/*view thongketong*/
.task-itemTong {
    display: flex;
    max-height: calc(100vh - 140px);
    margin: 8px 2px 0;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
    width: 99.8%;
}


    .task-itemTong .item-tableTong {
        overflow: auto;
        width: 100%;
    }

        .task-itemTong .item-tableTong .table thead {
            position: sticky;
            top: 0;
            z-index: 3
        }

            .task-itemTong .item-tableTong .table thead tr {
                border: 1px solid #ccc;
                position: sticky;
                top: 0;
            }

                .task-itemTong .item-tableTong .table thead tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-weight: bold;
                    color: #fff;
                    vertical-align: middle;
                    background: #5da566;
                    outline: none;
                    font-family: 'Roboto';
                }



        .task-itemTong .item-tableTong .table tbody {
        }

            .task-itemTong .item-tableTong .table tbody tr {
                border: 1px solid #ccc;
            }

                .task-itemTong .item-tableTong .table tbody tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;
                    font-family: serif;
                    vertical-align: middle;
                    font-family: 'Roboto';
                }

.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.34);
    z-index: 99;
      display: none;
}



    .popup .list-popup {
        position: fixed;
        top: 230px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 5px;
        background: #fff
    }

        .popup .list-popup .display {
            display: flex;
            justify-content: left;
            align-items: center;
            flex-direction: column;
        }

            .popup .list-popup .display .list-tem {
                display: flex;
                align-items: center;
                justify-content: left;
                width: 100%;
            }

                .popup .list-popup .display .list-tem label {
                    text-align: center;
                    font-size: 13px;
                    margin: 0px;
                }

                .popup .list-popup .display .list-tem p {
                    white-space: nowrap;
                    margin-left: 5px;
                    margin-bottom: 0;
                    padding: 5px 0;
                    color: red;
                    font-size: 15px;
                    font-weight: bold;
                    margin-right: 4px;
                    margin-top: -3px;
                }

        .popup .list-popup .text {
            display: flex;
            margin-top: 6px;
            border-top: 1px solid;
            padding-top: 2px;
            margin-bottom: 11px;
            justify-content: space-between;
            align-items: center;
        }

            .popup .list-popup .text .list-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                padding: 10px 14px;
                width: 100%;
            }

                .popup .list-popup .text .list-text label {
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid;
                    padding: 5px;
                    font-size: 13px;
                    white-space: nowrap;
                }

                .popup .list-popup .text .list-text p {
                    white-space: nowrap;
                    margin-bottom: 0px;
                    margin-left: 5px;
                }

                .popup .list-popup .text .list-text input {
                    border: 1px solid;
                    outline: none;
                    width: auto;
                    max-width: 100px;
                    text-align: center;
                }

    .popup .save_cancel {
        display: flex;
        margin-top: 5px;
        justify-content: right;
        align-items: center;
        padding-top: 10px;
        border-top: 1px solid #333;
    }

        .popup .save_cancel .save_list {
            margin-right: 10px;
            width: 70px;
        }

            .popup .save_cancel .save_list button {
                width: 100%;
                border-radius: 5px;
                height: 30px;
                background: #ffD43B;
                font-weight: bold;
            }



        .popup .save_cancel .cancel_list {
            margin-right: 10px;
            width: 70px;
        }

            .popup .save_cancel .cancel_list button {
                width: 100%;
                border-radius: 5px;
                height: 30px;
                background: #92a874;
                font-weight: bold;
            }

.tuthung_SoKien {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

    .tuthung_SoKien label {
    }

    .tuthung_SoKien input {
        border-radius: 5px;
        outline: none;
        border: 1px solid #ccc;
        height: 27px;
        text-align: center;
    }

.denthung_SoKien {
    display: flex;
    flex-direction: column;
}

    .denthung_SoKien label {
    }

    .denthung_SoKien input {
        border-radius: 5px;
        outline: none;
        border: 1px solid #ccc;
        height: 27px;
        text-align: center;
    }

.list_SizeColor {
    display: flex;
    justify-content: left;
    align-items: end;
    width: 100%;
    margin-left: 8px;
    margin-top: 5px;
}

    .list_SizeColor .item_size {
        font-size: 15px;
        font-weight: bold;
    }

        .list_SizeColor .item_size p {
            margin-right: 20px;
            margin-bottom: 0px;
        }
            .list_SizeColor .item_size p span {
               color:red
            }
    .list_SizeColor .item_color {
        font-size: 15px;
        font-weight: bold;
    }

        .list_SizeColor .item_color p {
            margin-right: 20px;
            margin-bottom: 0px;
        }
            .list_SizeColor .item_color p span {
                color: red
            }
    .list_SizeColor .item_skold {
        font-size: 15px;
        font-weight: bold;
    }

        .list_SizeColor .item_skold p {
            margin-right: 20px;
            margin-bottom: 0px;
        }

            .list_SizeColor .item_skold p span {
                color: red
            }
.quantitySoKien{
    display:none
}
.task-itemDot {
    display: flex;
    max-height: calc(100vh - 324px);
    margin: 10px 10px 0;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
}


    .task-itemDot .item-tableDot {
        overflow: auto;
        width: 100%;
    }

        .task-itemDot .item-tableDot .table thead {
            position: sticky;
            top: 0;
            z-index: 3
        }

            .task-itemDot .item-tableDot .table thead tr {
                border: 1px solid #ccc;
                position: sticky;
                top: 0;
            }

                .task-itemDot .item-tableDot .table thead tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-weight: bold;
                    color: #fff;
                    vertical-align: middle;
                    background: #5da566;
                    outline: none;
                    font-family: 'Roboto';
                }



        .task-itemDot .item-tableDot .table tbody {
        }

            .task-itemDot .item-tableDot .table tbody tr {
                border: 1px solid #ccc;
            }

                .task-itemDot .item-tableDot .table tbody tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;
                    font-family: serif;
                    vertical-align: middle;
                    font-family: 'Roboto';
                }

.quantity {
    outline: none
}

.active1 {
    background: #d3e3f6
}

@media (max-width: 950px) {
    .task-itemTong {
        width: auto;
    }
}
