body {
    font-size: 13px;
}

#dxDataGridDangKyVatTu .dx-data-row.row-selected-soft > td {
    background-color: #eef6ff !important;
}

#dxDataGridThuVien .dx-data-row.thuvien-row-selected > td {
    background-color: #cddef2 !important;
}

    #dxDataGridThuVien .dx-data-row.thuvien-row-selected > td .form-control {
        background-color: #dbe8f7 !important;
    }

        #dxDataGridThuVien .dx-data-row.thuvien-row-selected > td .form-control.input-dinhmuc {
            background-color: #f5f4f0 !important;
            border-color: #f9f9f7 !important;
        }

        #dxDataGridThuVien .dx-data-row.thuvien-row-selected > td .form-control.input-sldk {
            background-color: #f5f4f0 !important;
            border-color: #f9f9f7 !important;
        }

body.active {
    height: calc(100vh + 400px);
}

.icon_reload {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5da566;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

    .icon_reload i {
        font-size: 17px;
        border-radius: 5px;
        height: 30px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }

/* .icon_reload i:hover {
            animation: reaload 0.2s linear
        }*/

@keyframes reaload {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.title {
    width: 100%;
    font-size: 20px;
    font-family: roboto;
    font-weight: bold;
    background: #9bcbfd;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.select2_item {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

    .select2_item label {
        white-space: nowrap;
        margin-bottom: 0;
        font-size: 15px
    }

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 12px;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

.task-item {
    display: flex;
    max-height: calc(100vh - 115px);
    margin: 5px 2px 0;
    border: 1px solid #ccc;
    border-radius: 1px;
}


    .task-item .item-table {
        overflow: auto;
        width: 100%;
    }

        .task-item .item-table .table thead {
            position: sticky;
            top: 0;
            z-index: 3
        }

            .task-item .item-table .table thead tr {
                border: 1px solid #ccc;
                position: sticky;
                top: 0;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }

                .task-item .item-table .table thead tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-weight: bold;
                    color: #fff;
                    vertical-align: middle;
                    background: #5da566;
                    outline: none;
                    font-family: 'Roboto';
                    min-width: 30px;
                    height: 28px;
                }



        .task-item .item-table .table tbody {
        }

            .task-item .item-table .table tbody tr {
                border: 1px solid #ccc;
            }

                .task-item .item-table .table tbody tr.active {
                    background: #fff4f4 !important
                }

                .task-item .item-table .table tbody tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    font-family: serif;
                    vertical-align: middle;
                    font-family: 'Roboto';
                }

        .task-item .item-table .table tfoot {
            position: sticky;
            bottom: -1px;
            background: #fff;
            outline: 1px solid #ccc;
        }

            .task-item .item-table .table tfoot tr {
                border: 1px solid #ccc;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }

                .task-item .item-table .table tfoot tr td {
                    border: 1px solid #ccc;
                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;
                    font-family: serif;
                    vertical-align: middle;
                    font-family: 'Roboto';
                    color: red;
                }

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 3px;
}

.item-table::-webkit-scrollbar {
    width: 2px;
}

Track
.item-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

Handle
.item-table::-webkit-scrollbar-thumb {
    background: #888;
}

Handle on hover
.item-table::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.chiTietNK {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.save-buttonShare {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background-color: #10b981;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin: 3px;
    gap: 2px !important;
}

    .save-buttonShare:hover {
        background-color: #059669;
        animation: pulse-on-hover 0.5s ease-in-out;
    }

    .save-buttonShare:focus {
        box-shadow: 0 0 0 4px rgba(16, 185, 129, 0.5);
    }

    .save-buttonShare i {
        margin-right: 0.5rem;
    }

.addKienInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: green;
    font-weight: 700;
    width: 100%;
    outline: none;
    height: 28px;
}

@keyframes pulse-on-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: -7px !important;
}


.fa-pen-to-square {
    position: absolute;
    top: 0;
    right: 0;
    color: green;
    cursor: pointer;
}

.tdThucNhapB {
    /*background: #f3ff59;*/
}

    .tdThucNhapB input {
    }

    .tdThucNhapB i {
    }

.tdThucNhapL {
    background: #efed75;
}

    .tdThucNhapL i {
    }


#labelContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lablebarcode {
    width: 100%;
}

.box-item {
    page-break-before: always;
    page-break-inside: avoid;
}

.label-container {
    border: 1px solid #333;
    background: #f9f9f9;
    padding: 5px;
    margin: 5px auto;
    box-sizing: border-box;
    font-size: 12px;
}

.label-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}

.line-item {
    margin: 1px 0;
}

.item-gapprint span {
    margin-right: 4px;
}

.qr-code {
    margin-top: 5px;
}

@media print {
    body, html {
        margin: 0;
        padding: 0;
    }

        body * {
            visibility: hidden;
        }

    .main-item {
        display: none
    }

    .box-item {
        width: 99vw;
        height: 280px !important;
        margin: 2px 0 2px 2px !important;
        padding: 2px 0 !important;
    }

    .winforms {
        margin-left: 16px !important;
    }

    #labelContainer, #labelContainer * {
        visibility: visible;
        opacity: 1 !important
    }

    #labelContainer {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
        background: white;
    }
    /**/
    .label-container {
        padding: 0 !important;
        width: 530px !important;
        height: 325px !important;
        font-size: 11px;
        box-sizing: border-box;
        page-break-before: always;
        border: 1px solid #000 !important;
    }

    .item_lineNew {
        margin-bottom: 10px !important
    }

    .label-header {
        font-size: 20px !important;
        font-weight: bold !important;
        height: 30px !important;
        padding: 4px !important;
        margin: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-bottom: 1px solid #000 !important
    }

    .left-col {
        width: 70% !important
    }

    .right-col {
        padding-right: 5px;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: end;
    }

        .right-col img {
            margin-top: 10px !important;
            width: 115px !important;
            height: 105px !important;
        }

        .right-col p {
            font-size: 19px !important;
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: roboto
        }

    .mavtbc {
        font-size: 18px !important;
        font-family: roboto
    }

    .itemsolo {
        margin-right: 30px !important;
        margin-right: 13px !important
    }

    .line-item {
        min-height: 25px !important;
        max-height: 28px !important
    }

    .item_line {
        margin-bottom: 20px !important;
    }

    .ngaynhap {
        font-weight: bold;
    }

    .itemngay {
        display: flex !important;
        flex-direction: column !important;
        align-content: end !important
    }

    .viewhchitiet {
        height: 50px !important
    }

    .gapslth {
        gap: 30px !important
    }

    .gapsokien {
        gap: 70px !important
    }

    .spantitle {
        font-size: 19px !important;
        font-weight: bold;
        font-family: roboto
    }

    .spanitem {
        font-size: 19px !important;
        font-weight: 600;
        font-family: roboto
    }

    .spanitemdv {
        font-size: 19px !important;
        color: red;
        font-weight: bold;
        font-family: roboto
    }

    .caycaitext {
        font-size: 17px !important;
        color: #00008B !important;
        font-weight: 600;
        font-family: roboto;
        margin-bottom: 8px !important;
    }

    .cayvaibc {
        font-size: 17px !important;
        color: #00008B !important;
        font-weight: 600;
        font-family: roboto;
        height: 75px !important;
        max-height: 75px !important;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 8px !important;
    }

    @page {
        size: 100mm 60mm;
        margin: 0;
    }
}

.left-col {
    width: 70%
}

.right-col {
    padding-right: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: end;
}

    .right-col img {
        margin-top: 6px;
        width: 100px;
        height: 105px;
    }

    .right-col p {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }



.ngaynhap {
    font-weight: bold;
}

.itemngay {
    display: flex;
    flex-direction: column;
    align-content: end
}

.cayvaibc {
    font-size: 12px;
    color: #00008B;
    font-weight: 600
}

.spantitle {
    font-size: 12px;
    font-weight: bold;
}

.spanitem {
    font-size: 12px;
    font-weight: 600
}

.spanitemdv {
    font-size: 12px;
    color: green;
    font-weight: bold
}

.label-header {
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding: 4px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    letter-spacing: 1px;
}

.label-container {
    padding: 0;
    font-size: 11px;
}

.ghichubc {
    white-space: nowrap; /* Không cho xuống dòng */
    overflow: hidden; /* Ẩn phần vượt ra ngoài */
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600
}

.itemct {
    position: relative;
    padding-right: 30px;
}

    .itemct i {
        padding: 0px 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #3ddaff;
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 0;
    }
/*Export Excel*/
.btn-excel-trigger {
    padding: 10px 16px;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 15px;
}

#modal-excel .modal-content {
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

#modal-excel .form-label {
    font-weight: 600;
}

#modal-excel .select2-container--default .select2-selection--multiple {
    min-height: 38px;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
}

#modal-excel .select2-selection__choice {
    background-color: #198754 !important;
    border: none !important;
    color: #fff !important;
    font-size: 13px;
}

#modal-excel .select2-results__option {
    padding-left: 10px !important;
}


    #modal-excel .select2-results__option input[type="checkbox"] {
        transform: translateY(2px);
    }

.btn-cancel-export {
    color: #fff;
    background-color: crimson;
}

.dx-datagrid-filter-row {
    background-color: #fff !important
}
