html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    height: unset !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.sidebar-mini.sidebar-collapse .wrapper .main-footer {
    margin-left: 0 !important;
}

/**/
.sidebar-mini.sidebar-collapse .wrapper .content-wrapper {
    margin-left: 0 !important;
}

.sidebar-collapse .main-sidebar, .sidebar-collapse .wrapper .main-sidebar::before {
    margin-left: -250px !important;
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper {
    margin-left: 0 !important;
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    margin-left: 0 !important;
}

.sidebar-open #sidebar-overlay {
    display: block;
}

.sidebar-mini.sidebar-collapse .wrapper .main-footer {
    margin-left: 0 !important;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px !important;
}

.main-sidebar, .sidebar-collapse .wrapper .main-sidebar::before {
    margin-left: -250px !important;
}

.sidebar-open .main-sidebar, .sidebar-collapse .wrapper .main-sidebar::before {
    margin-left: 0 !important;
}


.sidebar-collapse.sidebar-mini .main-sidebar .nav-sidebar .nav-link, .sidebar-collapse.sidebar-mini-md .main-sidebar .nav-sidebar .nav-link, .sidebar-collapse.sidebar-mini-xs .main-sidebar .nav-sidebar .nav-link {
    width: auto !important;
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: 0 !important;
    }
}

@media (min-width: 1200px) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: 250px;
    }
}
@media (min-width: 1000px) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: 250px;
    }

   
}